.genre-view {
  position: static;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.genre-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.genre-description {
  padding-bottom: 40px;
}