.movie-view {
  color: #0f6774;
  position: static;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3.25rem;
}

.movie-poster {
  max-height: 31.25rem;
  min-height: 27.5rem;
  padding-bottom: 1.25rem;
}

.movie-title {
  font-size: 1.85rem;
  font-weight: 700;
}

.movie-description {
  font-size: 1.15rem;
  font-weight: 450;
}

.movie-genre,
.movie-director {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
}

.genre-link {
  font-size: 1.25rem;
  font-weight: 450;
}

.director-link {
  font-size: 1.25rem;
  font-weight: 450;
}

.add-fav-button {
  color: #138293;
  font-size: 1.25rem;
  font-weight: 500;
}