$color: steelblue;

.my-flix {
  color: $color;
}

body {
  background-color: gainsboro;
  font-family: 'Poppins', sans-serif;
}

footer {
  position: relative;
  font-size: 0.65rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 6.5rem;
  text-align: center;
}