.director-view {
  color: #0f6774;
  position: static;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.director-title {
  padding-top: 3rem;
  font-size: 1.85rem;
  font-weight: 700;
}

.director-bio {
  padding-top: 3rem;
  font-size: 1.15rem;
  font-weight: 450;
}

.director-birth {
  padding-top: 3rem;
  padding-bottom: 5rem;
  font-size: 1.15rem;
  font-weight: 500;
}