.director-view {
  position: static;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.director-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.director-birth {
  padding-bottom: 40px;
}